app{
    
}
* {
  box-sizing: border-box;
  user-select: none;
}

p {
  color: #bcbcbc;
  font-family: "Montserrat", sans-serif;
  border-color: #06ab8e;
  padding: 1rem;
  font-size: large;
}
body {
  background-color: black;
}

.topbottomtext {
  color: #bcbcbc;
  text-align: left;
  margin: 1px;
  line-height: 2rem;
  font-size: min(3vw, 7rem);
  font-family: "Montserrat", sans-serif;
}

/*middleText class for text*/
.middleText h1 {
  text-align: left;
  color: #37f5d2;
  font-size: min(5vw, 8rem);
  margin: 1px;
  font-family: "Share Tech", sans-serif;
  height: 100%;
}

/*conatainer div for blinking cursor*/
.middleText div {
  line-height: initial;
  height: 100%;
  margin-bottom: -4px;
  width: 10px;
  background: transparent;
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Container for flexboxes */
.row {
  margin-top: 10rem;
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  height: 300px;
  margin: 1px;
}

/* Left and right column */
.column.side {
  flex: 1;
}

/* Middle column */
.column.middle {
  border-width: 0.5rem;
  border-color: antiquewhite;
  flex: 5;
  color: #3c444c;
  margin: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: min(1.5rem, 8rem);
  font-family: "Montserrat", sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: #bcbcbc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #37f5d2;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(201, 5, 5);
  background-color: rgba(103, 27, 190, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#openBtn {
  display: none;
}
