* {
  box-sizing: border-box;
  user-select: none;
}

p{
  color: #bcbcbc;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  font-size:large;
}
body{
  background-color: black;
}

.topbottomtext{
  color: #bcbcbc;
  margin:1px;
  line-height: 2rem;
  font-size: min(3vw,7rem);
  font-family: 'Montserrat', sans-serif;
  
}

/*middleText class for text*/
.middleText h1{
  color: #37f5d2;
  font-size: min(5vw,8rem);
  margin:1px;
  padding-bottom: 1rem;
  font-family: 'Share Tech', sans-serif;
  height:100%;
}

.middleText h2{
  color:azure;
  font-family: 'Montserrat',sans-serif;
}

.middleText h3{
  padding: 0.5rem;
  color:azure;
  background-color: #06ab8e;
  border-radius: 0.5rem;
  font-family: 'Share Tech', sans-serif;
}
.tagContainer{
  display: flex;
}

/*conatainer div for blinking cursor*/
.middleText #cursor{
  line-height:initial;
  height: 100%;
  margin-bottom: -4px;
  width: 10px;
  background: transparent;
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Container for flexboxes */
.row {
  margin-top: 10rem;
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  height: 300px;
  margin: 1px;
}

/* Left and right column */
.column.side {
   flex: 1;
}

/* Middle column */
.column.middle {
  border-width: 0.5rem;
  border-color: antiquewhite;
  flex: 5;
  color: #3c444c;
  margin:1px;
}






y